body {
  font-family: arial, sans-serif;
  background: #fff;
  color: #333b42;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: url(../upload/sport.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.header_container_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 74px;
}

.burger {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin-top: 15px;
}

.burger_icon {
  width: 35px;
  height: 5px;
  border-radius: 3px;
  background: #ccc;
}

.header_container_menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_container_menu_link {
  margin-right: 36px;
}

.header_container_menu_link:last-child {
  margin-right: 27px;
}

.header_container_menu_link {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 19px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.header_container_menu_link:hover {
  border-bottom: 3px solid #28c8c6;
  text-decoration: none;
  color: #fff;
}

.header_container_menu_link:last-child {
  padding: 13px 48px;
  background: #a100ff;
  border-radius: 3px;
  border-bottom: none;
  color: #fff;
}

.header_container_menu_link:last-child:active {
  opacity: 0.8;
  background: #a100ff;
}

.header_container_wrapper {
  width: 650px;
  padding: 100px 0 239px;
}

.header_container_wrapper_title {
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
}

.header_container_wrapper_text {
  font-size: 16px;
  line-height: 24px;
  margin: 42px 0 26px;
}

.header_container_wrapper input {
  width: 280px;
  height: 60px;
  background: #fff;
  border-radius: 2px;
  border: none;
  padding-left: 25px;
  color: #333333;
  margin-bottom: 20px;
}

.header_container_wrapper input:focus {
  outline: none;
}

.send_info {
  display: flex;
}

.send_name {
  margin-right: 20px;
}

.send_email {
  margin-right: 16px;
}

.send_btn {
  width: 64px;
  height: 60px;
  display: block;
  background: #28c8c6 url(../img/ic-go.png) 50% 50% no-repeat;
  border-radius: 5px;
  font-size: 14px;
}

.send_btn:hover {
  opacity: 0.8;
}

.content {
  background: url(../upload/phone.jpg) 50% no-repeat;
  background-size: cover;
}

.content_title {
  padding: 123px 0 43px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.content_text {
  font-size: 14px;
  line-height: 25px;
  color: #74797e;
  text-align: center;
  padding-bottom: 314px;
}

.promo {
  padding: 159px 0 151px;
  border-bottom: 1px solid #d8e0e8;
}

.promo_title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.promo_text {
  font-size: 14px;
  color: #74797e;
  line-height: 25px;
  padding: 31px 0 63px;
  text-align: center;
}

.promo_items {
  display: flex;
}

.promo_items :last-child {
  margin-right: 0;
}

.promo_items_item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 35px;
}

.promo_items_item::before {
  content: "";
  display: block;
  width: 137px;
  height: 137px;
  border-radius: 50%;
  cursor: pointer;
}

.shop::before {
  background: #8500d2 url(../img/ic-shop.png) 50% no-repeat;
}

.plain::before {
  background: #8500d2 url(../img/ic-plain.png) 50% no-repeat;
}

.arrow::before {
  background: #8500d2 url(../img/ic-arrow.png) 50% no-repeat;
}

.tablet::before {
  background: #8500d2 url(../img/ic-tablet.png) 50% no-repeat;
}

.promo_items_item_title {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 39px 0 38px;
}

.promo_items_item_text {
  font-size: 14px;
  line-height: 25px;
  color: #74797e;
  text-align: center;
}
.design {
  background: #f6f9fa;
}

.design_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.design_title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 134px 0 31px;
}

.design_text {
  font-size: 14px;
  line-height: 25px;
  color: #74797e;
  text-align: center;
}

.design_links {
  width: 570px;
  margin: 45px 0 54px;
  border: 1px solid #28c8c6;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.design_links_link {
  padding: 27px 33px;
  color: #28c8c6;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.design_active {
  background: #28c8c6;
  color: #f6f9fa;
}

.design_wrappers_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.design_wrappers_wrapper_block {
  margin: 0 15px 20px 0;
}

.design_wrappers_wrapper_picture {
  width: 378px;
  height: auto;
}

.design_wrappers_wrapper_text {
  height: 72px;
  background: #fff;
  border-radius: 0 0 3px 3px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #333b42;
  margin-bottom: 97px;
}

