/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  font-family: arial, sans-serif;
  background: #fff;
  color: #333b42;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: url(../upload/sport.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.header_container_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 74px;
}

.burger {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin-top: 15px;
}

.burger_icon {
  width: 35px;
  height: 5px;
  border-radius: 3px;
  background: #ccc;
}

.header_container_menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_container_menu_link {
  margin-right: 36px;
}

.header_container_menu_link:last-child {
  margin-right: 27px;
}

.header_container_menu_link {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 19px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.header_container_menu_link:hover {
  border-bottom: 3px solid #28c8c6;
  text-decoration: none;
  color: #fff;
}

.header_container_menu_link:last-child {
  padding: 13px 48px;
  background: #a100ff;
  border-radius: 3px;
  border-bottom: none;
  color: #fff;
}

.header_container_menu_link:last-child:active {
  opacity: 0.8;
  background: #a100ff;
}

.header_container_wrapper {
  width: 650px;
  padding: 100px 0 239px;
}

.header_container_wrapper_title {
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
}

.header_container_wrapper_text {
  font-size: 16px;
  line-height: 24px;
  margin: 42px 0 26px;
}

.header_container_wrapper input {
  width: 280px;
  height: 60px;
  background: #fff;
  border-radius: 2px;
  border: none;
  padding-left: 25px;
  color: #333333;
  margin-bottom: 20px;
}

.header_container_wrapper input:focus {
  outline: none;
}

.send_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send_name {
  margin-right: 20px;
}

.send_email {
  margin-right: 16px;
}

.send_btn {
  width: 64px;
  height: 60px;
  display: block;
  background: #28c8c6 url(../img/ic-go.png) 50% 50% no-repeat;
  border-radius: 5px;
  font-size: 14px;
}

.send_btn:hover {
  opacity: 0.8;
}

.content {
  background: url(../upload/phone.jpg) 50% no-repeat;
  background-size: cover;
}

.content_title {
  padding: 123px 0 43px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.content_text {
  font-size: 14px;
  line-height: 25px;
  color: #74797e;
  text-align: center;
  padding-bottom: 314px;
}

.promo {
  padding: 159px 0 151px;
  border-bottom: 1px solid #d8e0e8;
}

.promo_title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.promo_text {
  font-size: 14px;
  color: #74797e;
  line-height: 25px;
  padding: 31px 0 63px;
  text-align: center;
}

.promo_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo_items :last-child {
  margin-right: 0;
}

.promo_items_item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
}

.promo_items_item::before {
  content: "";
  display: block;
  width: 137px;
  height: 137px;
  border-radius: 50%;
  cursor: pointer;
}

.shop::before {
  background: #8500d2 url(../img/ic-shop.png) 50% no-repeat;
}

.plain::before {
  background: #8500d2 url(../img/ic-plain.png) 50% no-repeat;
}

.arrow::before {
  background: #8500d2 url(../img/ic-arrow.png) 50% no-repeat;
}

.tablet::before {
  background: #8500d2 url(../img/ic-tablet.png) 50% no-repeat;
}

.promo_items_item_title {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 39px 0 38px;
}

.promo_items_item_text {
  font-size: 14px;
  line-height: 25px;
  color: #74797e;
  text-align: center;
}

.design {
  background: #f6f9fa;
}

.design_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design_title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 134px 0 31px;
}

.design_text {
  font-size: 14px;
  line-height: 25px;
  color: #74797e;
  text-align: center;
}

.design_links {
  width: 570px;
  margin: 45px 0 54px;
  border: 1px solid #28c8c6;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design_links_link {
  padding: 27px 33px;
  color: #28c8c6;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.design_active {
  background: #28c8c6;
  color: #f6f9fa;
}

.design_wrappers_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design_wrappers_wrapper_block {
  margin: 0 15px 20px 0;
}

.design_wrappers_wrapper_picture {
  width: 378px;
  height: auto;
}

.design_wrappers_wrapper_text {
  height: 72px;
  background: #fff;
  border-radius: 0 0 3px 3px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #333b42;
  margin-bottom: 97px;
}

.commercial {
  max-height: 890px;
  background: url(../upload/girl.jpg) no-repeat;
  background-size: cover;
}

.commercial_logo img {
  width: 177px;
  height: 177px;
}

.commercial_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commercial_wrapper {
  max-width: 506px;
  color: #fff;
  margin: 300px 0 0 90px;
}

.commercial_wrapper_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
}

.commercial_wrapper_text {
  font-size: 18px;
  line-height: 24px;
  padding: 75px 0 320px;
}

footer {
  font-size: 12px;
  color: #8297a7;
}

.footer_wrappers:nth-child(1) {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_wrappers:nth-child(2) {
  margin-top: 25px;
  padding-bottom: 73px;
}

.footer_wrappers_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_wrappers_wrapper:nth-child(2) {
  line-height: 22px;
}

.footer_wrappers_wrapper_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 95px;
}

.footer_wrappers_wrapper_block_text {
  font-size: 12px;
  color: #8297a7;
  margin-bottom: 25px;
}

@media screen and (max-width: 1189px) {
  .footer_wrappers:nth-child(1) {
    padding: 100px 50px 0 50px;
  }
  .footer_wrappers:nth-child(2) {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1160px) {
  .container {
    width: 100vw;
    padding: 0 20px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 100vw;
  }
  .header_container_logo {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  header_container_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .promo_items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo_items_item {
    width: 43%;
    margin-top: 40px;
  }
  .design_wrappers_wrapper_text {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 778px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .header_container_logo {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_container_menu {
    display: none
  }
  .header_container_menu_link {
    margin: 0;
    padding: 19px 0;
  }
  .header_container_menu :nth-child(4) {
    margin-bottom: 10px;
  }
  .header_container_menu :last-child {
    margin: 0;
  }
  .header_container_menu_link:hover {
    border-bottom: none;
  }
  .send_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content_text {
    padding-bottom: 100px;
  }
  .promo_items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .design_wrappers_wrapper_text {
    margin-bottom: 15px;
  }
  .commercial {
    background: #8500d2;
  }
  .commercial_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .commercial_logo img {
    margin-top: 50px;
  }
  .commercial_wrapper {
    margin: 50px 0;
  }
  .commercial_wrapper_text {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_container_logo {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_container_menu {
    display: none
  }
  .header_container_menu_link {
    margin: 0;
    padding: 19px 0;
  }
  .header_container_menu :nth-child(4) {
    margin-bottom: 10px;
  }
  .header_container_menu :last-child {
    margin: 0;
  }
  .header_container_menu_link:hover {
    border-bottom: none;
  }
  .header_container_wrapper {
    width: 350px;
    padding: 50px 10px 50px;
  }
  .header_container_wrapper_title {
    font-size: 38px;
  }
  .content_title {
    padding-top: 80px;
    font-size: 29px;
  }
  .content_text {
    padding: 0 10px 100px 10px;
  }
  .promo {
    padding: 50px 0;
  }
  .promo_items_item {
    width: 100%;
    margin: 40px 0 0;
  }
  .promo_text {
    padding-bottom: 0;
  }
  .design_title {
    padding: 100px 31px;
    text-align: center;
  }
  .design_links {
    width: 350px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 45px 100px 54px;
  }
  .design_links_link {
    padding: 27px 35px;
  }
  .commercial_logo img {
    width: 100px;
    height: auto;
  }
  .commercial_wrapper_title {
    font-size: 50px;
  }
  .commercial_wrapper_text {
    padding-bottom: 100px;
  }
  .footer_wrappers:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}